/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html,body{
margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
background: #42aadd;
background-size: cover;
height: 100%;
width: 100%;
}


#wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -190px;
max-width: 100%;
width: 380px;
}

.main{
max-width: 100%;
width: 380px;
float: left;
}

.header, .content, .bottom, .sep2{
width: 100%;
float: left;
}

.header{
	margin-top: 160px;
	margin-bottom: 40px;
}

.information{
width: 380px;
margin: 0 auto;
}

h3{
font-size: 28px;
font-weight: 600;
color: #ffffff;
}

.information p{
font-size: 16px;
color: #ffffff;
display: block;
}

.form{
position: relative;
width: 380px;
}

.field{
width: 100%;
border-radius: 8px;
border: none;
font-size: 16px;
color: #090909;
padding: 15px;
margin-bottom: 15px;
outline: none;
}

.submit{
position: absolute;
right: 8px;
top: 6px;
padding: 10px 10px;
border-radius: 4px;
background: #42aadd;
border: none;
font-size: 14px;
font-weight: bold;
cursor: pointer;
}


.submit:hover{
background: #090909;
color: #E7C92E;
}

.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
}

a {
  color: #92BCF2;
  font-weight: 700;
}

a:visited,
a:hover {
  color: #7EB6FF;
}
